.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}


.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* this is to affect everything from the app.js file */
.fnb {
	text-align: center;
	font-size: 30px;
}

/* login form */
.login {
	margin: auto;
	width: 25%;
	text-align: left;
	/*margin-top: -50px;*/
	
}

input {
	font-size: 30px;
	width: 100%;
}

Link {
	text-align: center;
}

button {
	background-color: #00927a;
	border: none;
	color: white;
	text-align: center;
	font-size: 24px;
	padding: 10px 20px;
	margin-top: 20px;
}


/* disbaled button when the fields are empty */
.disabled {
	background-color: #999999;
}